####################
# DEVELOPMENT ONLY #
####################
# The directory where the LifeFrame repo is cloned to
BEANSTALK_PUBLIC_API_PORT=8014
LIFEFRAME_PUBLIC_API_PORT=8015

BEANSTALK_PYTHON_DEBUG_PORT=3000
LIFEFRAME_PYTHON_DEBUG_PORT=3001

BEANSTALK_RUNSERVER_ON_STARTUP=false
LIFEFRAME_RUNSERVER_ON_STARTUP=true
# Does nothing if LIFEFRAME_RUNSERVER_ON_STARTUP != true
LIFEFRAME_MAKE_BEANSTALK_ON_STARTUP=true

# Note: No trailing slash.
LIFEFRAME_DIR=/path/to/local/lifeframe-api/directory/

BEANSTALK_RUN_CRON=false

BEANSTALK_SKIP_MARK_FOLLOW_FEED_SEEN=false

###################
# PRODUCTION ONLY #
###################
NGINX_CONFIGS_DIR=nginx_configs_staging
REDIS_HOST=
REDIS_PORT=
AWS_CLOUDWATCH_REGION=us-west-2
AWS_CLOUDWATCH_GROUP=

# Uncomment this if the default doesn't work (only for staging)
# LIFEFRAME_API_URL=


########
# MISC #
########
EARLIEST_SUPPORTED_APP_VERSION=1
# Make a secure key for production
#   from django.core.management.utils import get_random_secret_key
#   print(get_random_secret_key())
DJANGO_SECRET_KEY=secret
DJANGO_DEBUG=true

BEANSTALK_ADMIN_PANEL_BYPASS_AUTHENTICATOR_CHECK=true
BEANSTALK_AUTHENTICATOR_LABEL=BEANSTALK_DEV

# These keys are the test company keys that auto-generate in LifeFrame using
# the `python manage.py create_org_with_keys` command
LIFEFRAME_PUBLIC_KEY=AHDuG2tR.4r9ptPUv4fvyztTsS1VD6wZ2KDdbEg9B
LIFEFRAME_SECRET_KEY=xYBoL4hu.VyUOt3mgjjhWcZQTuhQo1Vcmvv1ox0SL

# This key will will be in a header Authorization: Bearer {this key}
# when recieving webhook calls from LifeFrame.
LIFEFRAME_WEBHOOK_KEY=FqPJ4t2r.xk7tok8srWEN4CNmDrryhxCuonb7So8p

# Do not include the trailing slash
ADMIN_URL=http://nateb3:8014/admin

# Per page
BEANSTALK_DISCOVER_QUERY_CATEGORIES_ONLY=true
BEANSTALK_DISCOVER_QUERY_LIMIT_EXPERIENCES=2
BEANSTALK_DISCOVER_QUERY_LIMIT_PLAYLISTS=2
BEANSTALK_DISCOVER_QUERY_LIMIT_POSTS=2
BEANSTALK_DISCOVER_QUERY_LIMIT_CATEGORIES=30

# Per page
BEANSTALK_FOR_YOU_NUM_SAMPLE_COMMENTS=0
BEANSTALK_FOR_YOU_QUERY_LIMIT_EXPERIENCES=13
BEANSTALK_FOR_YOU_QUERY_LIMIT_PLAYLISTS=13
BEANSTALK_FOR_YOU_QUERY_LIMIT_POSTS=13

########
# CORS #
########
# Don't allow * in production
BEANSTALK_ALLOWED_HOSTS=*
LIFEFRAME_ALLOWED_HOSTS=*

# BEANSTALK_CSRF_TRUSTED_ORIGINS=
# LIFEFRAME_CSRF_TRUSTED_ORIGINS=


###########
# Logging #
###########
# https://docs.djangoproject.com/en/4.0/topics/logging/#loggers
# Intended uses:
# "DEBUG" lower level system info (shows all SQL as well)
# "INFO" general information, these are our extra prints while developing
# "WARNING" regular development, show major and minor errors
# "ERROR" production, show major errors
LOG_LEVEL=INFO
# LOG_LEVEL=WARNING


############
# Database #
############
BEANSTALK_DB_HOST=beanstalk-db
BEANSTALK_DB_DATABASE_NAME=beanstalk_db
BEANSTALK_DB_USER=postgres
BEANSTALK_DB_PASSWORD=password

# Not for use in production
BEANSTALK_DB_HOST_MAPPED_PORT=5456

LIFEFRAME_DB_HOST=lifeframe-db
LIFEFRAME_DB_DATABASE_NAME=lifeframe_db
LIFEFRAME_DB_USER=postgres
LIFEFRAME_DB_PASSWORD=password

# Not for use in production
LIFEFRAME_DB_HOST_MAPPED_PORT=5457


#########
# Email #
#########
# In dev environment use "console" or "file"
# In production use "mailgun"
# Mailgun key is not used unless EMAIL_BACKEND==mailgun
EMAIL_BACKEND=console
MAILGUN_SECRET_KEY=random_characters_go_here


#######
# AWS #
#######
# Production and Staging do not use keys.
# Must have a dev bucket and AWS login credetials.
USE_AWS_KEYS=true

BEANSTALK_AWS_ACCESS_KEY_ID=1
BEANSTALK_AWS_SECRET_ACCESS_KEY=1
BEANSTALK_AWS_STORAGE_BUCKET_NAME=beanstalk-lemllc-dev-2

LIFEFRAME_AWS_ACCESS_KEY_ID=2
LIFEFRAME_AWS_SECRET_ACCESS_KEY=2
LIFEFRAME_AWS_STORAGE_BUCKET_NAME=lifeframe-lemllc-dev-2


#################
# Notifications #
#################
GOOGLE_APPLICATION_CREDENTIALS=/app/firebase-admin-sdk.json


##########
# Twilio #
##########
# Currently Twilio isn't used anymore, but these are useful in
# case some twilio features are ever needed again.
# Can leave them all blank while developing.
TWILIO_ENABLE_TWO_FACTOR=false
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_FROM_PHONE=
TWILIO_KEY=
TWILIO_SECRET=


############
# Sendbird #
############
SENDBIRD_ENABLE_MESSAGING=false

SENDBIRD_APPLICATION_ID=
SENDBIRD_API_TOKEN=
SENDBIRD_TESTING_API_TOKEN=
SENDBIRD_TESTING_APPLICATION_ID=

############
# Facebook #
############
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_LOGIN_ENABLED=false

###############
# Google Maps #
###############
PLACES_GOOGLE_MAPS_KEY=
GEOCODING_GOOGLE_MAPS_KEY=


#################
# Google Sheets #
#################
EXPERIENCES_GOOGLE_SHEET_ID=
