{% load i18n %}


{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">

</style>
{% endblock %}


<div class="content-wrapper">
    <div class="content">

        <h1>Beanstalk</h1>

        {% block content %}
        <div id="pagetitle">
            <h2>{% trans "Confirm Your Password Reset" %}</h2>
        </div>

        <p>Reset your password by entering the following code in your Beanstalk app:</p>
        <p class="verification-code">
            {{verification_code}}
        </p>
        <br />
        <p>If you did not request a password reset, you can safely ignore this email.</p>

        {% endblock %}
    </div>
</div>
